{% extends 'base.html.twig' %}

{% block title %}My journeys!{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">Person limit</th>
            <th scope="col">Starting</th>
            <th scope="col">Seats left</th>
            <th scope="col">Contribution</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for journey in journeys %}
            <tr>
                <th scope="row">{{ journey.id }}</th>
                <td>{{ journey.description }}</td>
                <td>{{ journey.departureTime | date("Y-m-d H:i:s")}}</td>
                <td>{{ journey.arrivalTime | date("Y-m-d H:i:s")}}</td>
                <td>{{ journey.personLimit }}</td>
                <td>{{ journey.startLocation }}</td>
                <td>-- 0 --</td>
                <td>{{ journey.contribution }}</td>
                <td> actions </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
